<page>

  <nav-header [back]="true" [title]="'change-password' | translate">
  </nav-header>

  <page-content [transparent]="false">



    <centered>
      <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)" class="spacer shadow fadeIn">

        <p-panel [header]=" 'new-password' | translate">
          <div class="p-grid p-fluid" style="margin: 10px 0px">
            <!-- messages services -->
            <div class="p-col-12">
              <p-messages enableService="true" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'">
              </p-messages>
            </div>

            <!-- password-->

            <div class="p-col-12">
              {{ 'system-password'| translate}}
            </div>
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input pInputText type="password" formControlName="password" class="input-field"
                  [placeholder]="'enter-system-password' | translate">
              </div>
            </div>

            <div class="p-col-12">
              <p-message severity="error"
                [text]="userform.controls['password'].errors['required'] ? ('system-password-required' | translate) : userform.controls['password'].errors['minlength'] ? ('user-password-validation' | translate) : ''"
                *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
              </p-message>
            </div>


            <!-- confirm password-->

            <div class="p-col-12">
              {{ 'confirm-password'| translate}}
            </div>

            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input pInputText type="password" formControlName="confirmPassword" class="input-field"
                  [placeholder]="'enter-system-password' | translate">
              </div>
            </div>

            <div class="p-col-12">
              <p-message severity="error"
                [text]="userform.controls['confirmPassword'].errors['required'] ? ('system-password-required' | translate) : userform.controls['confirmPassword'].errors['minlength'] ? ('user-password-validation' | translate) : ''"
                *ngIf="!userform.controls['confirmPassword'].valid&&userform.controls['confirmPassword'].dirty">
              </p-message>
            </div>


            <!-- passwords not match-->

            <div class="p-col-12">
              <p-message severity="error"
                [text]="userform.value.password !=  userform.value.confirmPassword ? ('passwords-not-match' | translate) :  ''"
                *ngIf="userform.controls['password'].dirty && userform.controls['confirmPassword'].dirty  ? userform.errors?.mismatch : false ">
              </p-message>
            </div>

            <!-- submit -->
            <div class="p-col-3"></div>
            <div class="p-col-6">
              <button pButton type="submit" [label]="'change' | translate" [disabled]="!userform.valid"></button>
            </div>



          </div>
        </p-panel>
      </form>

    </centered>

  </page-content>
</page>
